html{
    height: 100%;
    overflow: hidden;
}

body{
    height: 100%;
    overflow: hidden;
}

div.node{
    margin:5px;
    width: 150px;
    height: 150px;
    background-color: aqua;
    border: solid black 1px;
}

main#nodeArea{
    float: left;
    width: 70%;
    background-color: antiquewhite;
    padding:10px;
    height:100%;
    box-sizing: border-box;
    overflow: scroll;
}

aside#information{
    float: right;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}